@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
  background-color: rgb(38, 38, 38);
  font-family: 'Source Code Pro', monospace;
  color: rgb(226, 226, 226);
  font-size: 1.7em;
}
h1 {
  text-align: center;
  color: rgb(221, 233, 255);
}
.container {
  margin: 0 auto;
  width: 70%;
  border: 1px solid rgb(232, 202, 202);
  padding: 20px;
}
a {
  color: rgb(178, 191, 249);
}

a:visited {
  color: rgb(167, 255, 231);
}
